.searchContainer {
    margin-top: 50px;
}

.labelMsg p {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 30px;
}

.searchBox input {
    width: 50%;
    border: 4px solid grey;
    border-right: none;
    padding: 6px;
    height: 20px;
    /* border-radius: 6px; */
    outline: none;
    font-size: 16px;
}

.searchBox button {
    width: 100px;
    height: 40px;
    border: 4px solid grey;
    border-left: none;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    /* border-radius: 6px; */
    cursor: pointer;
    font-size: 18px;
}

button:focus {outline: 0}
button:disabled {
    background: #aebdbf;
    cursor: auto;
}

.definitionContainer {
    text-align: left;
    padding: 50px 200px 50px 200px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.definitionContainer span {
    font-size: 40px;
}

.definitionContainer p {
    font-size: 20px;
}

.wordSuggestions {
    margin-top: 20px;
}

.wordSuggestions p {
    font-size: 10px;
}

.wordSuggestions button {
    border: none;
    background: yellow;
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
}

.noneFoundMsg {
    margin: 30px auto;
    font-family: unset;
    font-weight: 100;
    background-color: bisque;
    width: fit-content;
}