.searchContainer {
    margin-top: 50px;
}

.labelMsg p {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 30px;
}

.searchBox input {
    width: 50%;
    border: 4px solid grey;
    padding: 6px;
    height: 20px;
    border-radius: 6px;
    outline: none;
    color: #9DBFAF;
}

.searchBox button {
    width: 100px;
    height: 36px;
    border: 1px solid grey;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.definitionContainer {
    text-align: left;
    padding: 50px 200px 50px 200px;
    font-family: monospace;
}